@model WordSnapWeb.Models.RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Create a new account</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Register" method="post">
            <div class="form-group mb-3">
                <label asp-for="Username">Ім'я користувача</label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email">Пошта</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Зареєструватись</button>
            </div>

            <div>
                <p>Вже маєте акаунт? <a asp-action="Login">Увійдіть</a></p>
            </div>
        </form>
    </div>
</div>
