@page
@model RegisterModel
@{
    Layout = "_Layout";
}
<main class="py-5 flex-grow-1">
    <div class="container">
        <section class="row justify-content-center">
            <div class="col-md-8 col-lg-5">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="bg-white p-4 rounded shadow-sm">
                    <h2 class="mb-3">Створіть новий акаунт.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" placeholder="Ім'я користувача" />
                        <label asp-for="Input.UserName">Ім'я користувача</label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Електронна пошта</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Пароль" />
                        <label asp-for="Input.Password">Пароль</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Пароль" />
                        <label asp-for="Input.ConfirmPassword">Підтвердіть пароль</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зареєструватись</button>
                </form>
            </div>
        </section>
    </div>
</main>